.custom-dropdown {
  position: relative;
  min-width: 120px;
  max-width: 250px;
  width: 100%;
  user-select: none;

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }

  &__button {
    width: 100%;
    background-color: var(--block-background);
    text-align: left;
    border-radius: 16px;
    padding: 8px 15px 8px 15px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-gray-800);
    border: 1px solid var(--color-gray-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.1s;

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
    }

    &-label {
      font-size: 11px;
      color: var(--color-gray-500);
      line-height: 1.1;
    }

    &-value {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.3;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .arrow {
      width: 10px;
      aspect-ratio: 1 / 1;
      rotate: 90deg;
      user-select: none;
      pointer-events: none;
      transition: transform 150ms ease;
    }

    &:hover,
    &:focus,
    &.active {
      border-color: var(--color-gray-500);
    }

    &.active {
      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    max-height: 200px;
    width: 210px;
    overflow-y: auto;
    border-radius: 14px;
    margin: 0;
    z-index: 30;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);

    .custom-dropdown__search {
      position: sticky;
      top: 0;
      padding: 6px 5px 6px 15px;
      font-size: 14px;
      border-bottom: 1px solid var(--color-gray-300);
      background: var(--color-gray-75);
      z-index: 2;
    }

    .custom-dropdown__list {
      display: flex;
      flex-direction: column;
      list-style: none;

      .custom-dropdown__item {
        display: flex;
        width: 100%;

        &-button {
          width: 100%;
          text-align: left;
          font-size: 14px;
          padding: 9px 5px 9px 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          transition: all 0.1s;

          &:hover {
            background: var(--color-accent-50);
            color: var(--color-accent-700);
          }
        }

        &.selected {
          background: var(--color-accent-100);

          .custom-dropdown__item-button {
            color: var(--color-accent-800);
            font-weight: 600;
          }

          &:hover {
            color: var(--color-accent-900);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .custom-dropdown {
    &__button {
      padding: 9px 15px 9px 20px;
      font-size: 16px;
    }

    &__menu {
      width: 250px;
      max-height: 200px;

      .custom-dropdown__search {
        padding: 9px 5px 9px 20px;
      }

      .custom-dropdown__list {
        .custom-dropdown__item {
          &-button {
            padding: 9px 5px 9px 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .custom-dropdown {
    &__button {
      padding: 10px 15px 10px 22px;

      &-label {
        font-size: 12px;
      }

      &-value {
        font-size: 15px;
      }
    }

    &__menu {
      width: 300px;
      max-height: 250px;

      .custom-dropdown__search {
        font-size: 15px;
        padding: 10px 5px 10px 22px;
      }

      .custom-dropdown__list {
        .custom-dropdown__item {
          &-button {
            font-size: 15px;
            padding: 10px 5px 10px 22px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .custom-dropdown {
    &__button {
      padding: 10px 15px 10px 25px;

      &-label {
        font-size: 13px;
      }

      &-value {
        font-size: 16px;
      }
    }

    &__menu {
      max-height: 300px;

      .custom-dropdown__search {
        font-size: 16px;
        padding: 10px 5px 10px 25px;
      }

      .custom-dropdown__list {
        .custom-dropdown__item {
          &-button {
            font-size: 16px;
            padding: 10px 5px 10px 25px;
          }
        }
      }
    }
  }
}