.custom-dropdown {
  position: relative;
  min-width: 120px;
  max-width: 250px;
  width: 100%;
  user-select: none;
}
.custom-dropdown.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.custom-dropdown__button {
  width: 100%;
  background-color: var(--block-background);
  text-align: left;
  border-radius: 16px;
  padding: 8px 15px 8px 15px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.1s;
}
.custom-dropdown__button-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}
.custom-dropdown__button-label {
  font-size: 11px;
  color: var(--color-gray-500);
  line-height: 1.1;
}
.custom-dropdown__button-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-dropdown__button .arrow {
  width: 10px;
  aspect-ratio: 1/1;
  rotate: 90deg;
  user-select: none;
  pointer-events: none;
  transition: transform 150ms ease;
}
.custom-dropdown__button:hover, .custom-dropdown__button:focus, .custom-dropdown__button.active {
  border-color: var(--color-gray-500);
}
.custom-dropdown__button.active .arrow {
  transform: rotate(180deg);
}
.custom-dropdown__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  max-height: 200px;
  width: 210px;
  overflow-y: auto;
  border-radius: 14px;
  margin: 0;
  z-index: 30;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}
.custom-dropdown__menu .custom-dropdown__search {
  position: sticky;
  top: 0;
  padding: 6px 5px 6px 15px;
  font-size: 14px;
  border-bottom: 1px solid var(--color-gray-300);
  background: var(--color-gray-75);
  z-index: 2;
}
.custom-dropdown__menu .custom-dropdown__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item {
  display: flex;
  width: 100%;
}
.custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item-button {
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding: 9px 5px 9px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.1s;
}
.custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item-button:hover {
  background: var(--color-accent-50);
  color: var(--color-accent-700);
}
.custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item.selected {
  background: var(--color-accent-100);
}
.custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item.selected .custom-dropdown__item-button {
  color: var(--color-accent-800);
  font-weight: 600;
}
.custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item.selected:hover {
  color: var(--color-accent-900);
}

@media (min-width: 768px) {
  .custom-dropdown__button {
    padding: 9px 15px 9px 20px;
    font-size: 16px;
  }
  .custom-dropdown__menu {
    width: 250px;
    max-height: 200px;
  }
  .custom-dropdown__menu .custom-dropdown__search {
    padding: 9px 5px 9px 20px;
  }
  .custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item-button {
    padding: 9px 5px 9px 20px;
  }
}
@media (min-width: 1024px) {
  .custom-dropdown__button {
    padding: 10px 15px 10px 22px;
  }
  .custom-dropdown__button-label {
    font-size: 12px;
  }
  .custom-dropdown__button-value {
    font-size: 15px;
  }
  .custom-dropdown__menu {
    width: 300px;
    max-height: 250px;
  }
  .custom-dropdown__menu .custom-dropdown__search {
    font-size: 15px;
    padding: 10px 5px 10px 22px;
  }
  .custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item-button {
    font-size: 15px;
    padding: 10px 5px 10px 22px;
  }
}
@media (min-width: 1440px) {
  .custom-dropdown__button {
    padding: 10px 15px 10px 25px;
  }
  .custom-dropdown__button-label {
    font-size: 13px;
  }
  .custom-dropdown__button-value {
    font-size: 16px;
  }
  .custom-dropdown__menu {
    max-height: 300px;
  }
  .custom-dropdown__menu .custom-dropdown__search {
    font-size: 16px;
    padding: 10px 5px 10px 25px;
  }
  .custom-dropdown__menu .custom-dropdown__list .custom-dropdown__item-button {
    font-size: 16px;
    padding: 10px 5px 10px 25px;
  }
}

/*# sourceMappingURL=Dropdown.css.map */
