.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  margin-top: 20px;

  .pagination {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 5px;

    button {
      font-size: 16px;
      font-weight: 600;
      height: 50px;
      width: 50px;
      flex-shrink: 0;
      border-radius: 50%;
      transition: all 150ms ease-in-out;

      &:hover:not(:disabled) {
        background: var(--color-gray-50);
      }

      &.active {
        background: var(--color-gray-100);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}