.page-create-document {
  gap: 10px !important;

  .page-header {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    top: 52px;

    .tabs-container {
      width: 100%;
    }

    .document-title {
      width: 100%;

      .document-title-input {
        width: 100%;
        font-family: "GrtskTera", Arial, sans-serif;

        &::placeholder {
          font-family: "Commissioner", Arial, sans-serif;
        }
      }
    }
  }

  .page-content {
    .create-document {
      padding: 0 20px;
      display: grid;
      grid-template-columns: 8fr 6fr;
      gap: 20px;

      &__preview {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-shrink: 0;

        .upload-document__container {
          display: flex;
          position: sticky;
          z-index: 2;
          bottom: 3vh;

          .upload-document {
            background: var(--color-gray-100);
            color: var(--color-primary-500);
            border-radius: 16px;
            padding: 10px 25px;
            font-size: 16px;
            font-weight: 500;
            margin: 0 auto;
            text-align: center;
            transition: all 150ms ease-in-out;

            &:hover {
              background: var(--color-primary-100);
            }
          }
        }
      }
    }
  }
}