.page-contacts {
  .page-filters {
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 15;

    .custom-dropdown {
      flex-basis: calc(50% - 1.5px);
    }
  }

  .search-input {
    flex-grow: 1;
  }

  .page-content {

  }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {

}