.comments-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  .comments__title {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .comments__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    padding-right: 3px;
    overflow-y: auto;

    .comment {
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      padding: 7px 10px;
      width: 100%;
      max-width: 250px;
      background: var(--color-gray-50);

      &__author {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 2px;
      }

      &__content {
        font-size: 12px;
        margin-bottom: 6px;
      }

      &__datetime {
        font-size: 10px;
        text-align: right;
        color: var(--color-gray-800);
        user-select: none;
      }

      &.current-author {
        align-self: flex-end;
        background: var(--color-primary-50);
      }
    }

    &::-webkit-scrollbar {
      width: 5px !important;
    }
  }

  .create-comment-container {
    display: flex;
    position: sticky;
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    padding-top: 5px;
    gap: 5px;

    .create-comment {
      &__input,
      &__button {
        height: 100%;
      }

      &__input {
        flex-grow: 1;
      }

      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        border-radius: 50%;
        cursor: pointer;
        background: var(--color-gray-50);

        svg {
          transform: translateX(5%);
        }

        &:hover {
          background: var(--color-gray-100);
        }
      }
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .comments-wrapper {
    .comments__list {
      .comment {
        &__author {
          font-size: 14px;
        }

        &__content {
          font-size: 14px;
        }

        &__datetime {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .comments-wrapper {
    .comments__title {
      font-size: 18px;
    }

    .comments__list {
      .comment {
        &__author {
          font-size: 16px;
        }

        &__content {
          font-size: 16px;
        }

        &__datetime {
          font-size: 14px;
        }
      }
    }
  }
}
