.document-signers-wrapper {
  display: flex;
  height: fit-content;
  flex-direction: column;

  .document-signers__title {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .document-signers__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;

    .signer {
      border-radius: 12px;
      padding: 5px 10px;
      user-select: none;
      cursor: pointer;
      background: var(--color-gray-50);
      transition: all 150ms ease-in-out;

      &__info {
        display: flex;
        flex-direction: column;
        gap: 3px;

        &-secondary {
          display: flex;
          gap: 5px;
          justify-content: space-between;

          .signer {
            &__division,
            &__status {
              font-size: 10px;
              text-wrap: nowrap;
            }

            &__division {
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &__status {

            }
          }
        }

        &-main {
          display: flex;

          .signer {
            &__name {
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }

      &:hover {
        background: var(--color-gray-100);
      }

      &:active {
        background: var(--color-gray-200);
        transition: background 0ms;
      }
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .document-signers-wrapper {
    .document-signers__list {
      .signer {
        padding: 6px 15px;

        &__info {
          &-secondary {
            .signer {
              &__division,
              &__status {
                font-size: 12px;
              }
            }
          }

          &-main {
            .signer {
              &__name {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .document-signers-wrapper {
    .document-signers__title {
      font-size: 18px;
    }

    .document-signers__list {
      grid-template-columns: 1fr 1fr;

      .signer {
        padding: 7px 10px;

        &__info {
          &-secondary {
            .signer {
              &__division,
              &__status {
                font-size: 14px;
              }
            }
          }

          &-main {
            .signer {
              padding: 10px 15px;

              &__name {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}