.document-signers-wrapper {
  display: flex;
  height: 100%;
  position: sticky;
  top: 10px;
  margin: 0 auto;
  flex-direction: column;

  .document-signers__title {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px 0 15px;
    color: var(--color-gray-800);
    margin-bottom: 5px;
  }

  .document-signers__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 7px 5px 7px 0;

    .signer {
      border-radius: 16px;
      padding: 7px 15px;
      transition: all 150ms ease-in-out;

      &__info {
        display: flex;
        flex-direction: column;
        gap: 3px;

        &-secondary {
          display: flex;
          gap: 5px;
          justify-content: space-between;

          .signer {
            &__division,
            &__status {
              font-size: 12px;
            }

            &__division {

            }

            &__status {

            }
          }
        }

        &-main {
          .signer {
            &__name {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }

      &:hover {
        background: var(--color-gray-50);
      }
    }
  }
}