.left-menu {
  top: 0;
  display: none;
  position: sticky;
  height: 100vh;
  border-right: 1px solid var(--color-gray-50);
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: scroll;
}
.left-menu .logo-wrapper {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
}
.left-menu .logo-wrapper img {
  width: 90%;
}
.left-menu .left-menu-navigation__item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.7;
  transition: all 150ms ease-in-out;
}
.left-menu .left-menu-navigation__item .action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 80%;
  aspect-ratio: 1/1;
  background: var(--color-gray-50);
  padding: 7px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.left-menu .left-menu-navigation__item .action-button:hover {
  background: var(--color-gray-100);
}
.left-menu .left-menu-navigation__item .icon {
  display: flex;
}
.left-menu .left-menu-navigation__item svg {
  fill: var(--color-primary-700);
  flex-shrink: 0;
  height: 21px;
  width: 21px;
}
.left-menu .left-menu-navigation__item span {
  color: var(--color-primary-700);
}
.left-menu .left-menu-navigation__item.item-contacts .contacts-navigation {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.left-menu .left-menu-navigation__item:hover, .left-menu .left-menu-navigation__item.active {
  opacity: 1;
}
.left-menu .left-menu-navigation {
  display: flex;
  flex-direction: column;
}
.left-menu .left-menu-navigation__title {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 3px;
  color: var(--color-gray-900);
}
.left-menu .left-menu-navigation__items {
  display: flex;
  flex-direction: column;
}
.left-menu .profile-container {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.left-menu .profile-container .logout-btn {
  height: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  opacity: 0.7;
  transition: all 150ms ease-in-out;
}
.left-menu .profile-container .logout-btn svg {
  height: 24px;
  width: 24px;
  fill: var(--color-error);
}
.left-menu .profile-container .logout-btn:hover {
  opacity: 1;
}

@media (min-width: 1024px) {
  .left-menu {
    width: 185px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0 20px 0;
  }
  .left-menu .logo-wrapper {
    padding: 0 15px;
  }
  .left-menu .left-menu-navigation {
    padding: 0 15px;
  }
  .left-menu .left-menu-navigation .left-menu-navigation__item {
    height: 30px;
    gap: 10px;
  }
}
@media (min-width: 1440px) {
  .left-menu {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .left-menu .logo-wrapper {
    padding: 0 20px;
  }
  .left-menu .left-menu-navigation {
    padding: 0 20px;
  }
  .left-menu .left-menu-navigation .left-menu-navigation__item {
    gap: 15px;
    font-size: 17px;
    height: 40px;
  }
  .left-menu .left-menu-navigation .left-menu-navigation__item svg {
    fill: var(--color-primary-700);
    flex-shrink: 0;
    height: 22px;
    width: 22px;
  }
}

/*# sourceMappingURL=LeftMenu.css.map */
