.left-menu {
  top: 0;
  display: none;
  position: sticky;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid var(--color-gray-50);
  flex-shrink: 0;
  overflow-y: scroll;

  .logo-wrapper {
    width: 100%;
    padding: 0 20px;

    img {
      width: 85%;
    }
  }

  .left-menu-navigation__item {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    opacity: 0.7;
    transition: all 150ms ease-in-out;

    .label {
      font-family: "GrtskTera", Arial, sans-serif;
      white-space: nowrap;
      font-size: 12px;
    }

    .action-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      height: 80%;
      aspect-ratio: 1/1;
      padding: 3px;
      border-radius: 50%;
      transition: all 150ms ease-in-out;

      &:hover {
        background: var(--color-gray-100);
      }
    }

    .icon {
      display: none;
    }

    svg {
      fill: var(--color-primary-700);
      flex-shrink: 0;
      height: 20px;
      width: 20px;
    }

    span {
      color: var(--color-primary-700);
    }

    &.item-contacts {
      .contacts-navigation {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
      }
    }

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  .left-menu-navigation {
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: 600;
      font-size: 13px;
      margin-bottom: 3px;
      color: var(--color-gray-900);
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &.general-navigation {
      margin-bottom: 10px;
    }
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    margin-top: auto;
    opacity: 0.7;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border-top: 1px solid var(--color-gray-50);
    transition: all 150ms ease-in-out;


    .logout-btn {
      height: 100%;
      flex-shrink: 0;
      padding: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      opacity: 0.7;
      transition: all 150ms ease-in-out;

      svg {
        height: 24px;
        width: 24px;
        fill: var(--color-error);
      }

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  .left-menu {
    display: flex;
    width: 190px;
    padding-top: 30px;

    .logo-wrapper {
      padding: 0 15px;
      margin-bottom: 20px;
    }

    .left-menu-navigation {
      padding: 0 10px;

      .left-menu-navigation__item {
        height: 30px;
      }
    }

    .profile-container {
      height: 40px;
      padding: 5px 10px;
    }
  }
}

@media (min-width: 1024px) {
  .left-menu {
    width: 200px;
    padding-top: 30px;

    .logo-wrapper {
      padding: 0 15px;
      margin-bottom: 30px;
    }

    .left-menu-navigation {
      padding: 0 10px;

      .left-menu-navigation__item {
        .icon {
          display: flex;
          margin-right: 10px;
        }
      }

      &.general-navigation {
        margin-bottom: 15px;
      }
    }

    .profile-container {
      .icon {
        display: flex;
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .left-menu {
    width: 250px;

    .logo-wrapper {
      padding: 0 20px;
      margin-bottom: 40px;
    }

    .left-menu-navigation {
      padding: 0 20px;

      .left-menu-navigation__item {
        height: 40px;

        .label {
          font-size: 14px;
        }

        .icon {
          margin-right: 10px;

          svg {
            fill: var(--color-primary-700);
            flex-shrink: 0;
            height: 22px;
            width: 22px;
          }
        }
      }

      &.general-navigation {
        margin-bottom: 20px;
      }
    }

    .profile-container {
      height: 50px;
      padding: 5px 20px;

      .label {
        font-size: 16px;
      }

      .icon {
        display: flex;
        margin-right: 7px;

        svg {
          height: 22px;
          width: 22px;
        }
      }
    }
  }
}