.custom-dropdown {
  position: relative;
  min-width: 100px;
  max-width: 150px;
  width: 100%;
  user-select: none;

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }

  &__button {
    width: 100%;
    background-color: var(--color-gray-50);
    text-align: left;
    border-radius: 16px;
    padding: var(--dropdown-button-padding-default);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-gray-800);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
    }

    &-label {
      font-size: 11px;
      color: var(--color-gray-800);
      line-height: 1.1;
    }

    &-value {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.3;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .arrow {
      width: 10px;
      aspect-ratio: 1 / 1;
      rotate: 90deg;
      user-select: none;
      pointer-events: none;
      transition: transform 150ms ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-gray-100);
      }
    }

    &.active {
      background-color: var(--color-gray-100);
    }

    &.active {
      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    top: calc(100% + 8px);
    left: 0;
    width: auto;
    background-color: var(--color-gray-50);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-gray-200);
    max-height: 200px;
    border-radius: 14px;
    margin: 0;
    z-index: 30;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);

    .custom-dropdown__search {
      position: sticky;
      top: 0;
      padding: 6px 5px 6px 15px;
      font-size: 13px;
      border-radius: 0;
      border-bottom: 1px solid var(--color-gray-300);
      background: var(--color-gray-75);
      z-index: 2;
    }

    .custom-dropdown__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      overflow: auto;
      scrollbar-width: thin;

      .custom-dropdown__item {
        display: flex;
        width: 100%;

        &-button {
          width: 100%;
          text-align: left;
          font-size: 13px;
          padding: 6px 13px 6px 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          transition: all 0.1s;

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              background: var(--color-accent-50);
              color: var(--color-accent-700);
            }
          }
        }

        &.selected {
          background: var(--color-accent-100);

          .custom-dropdown__item-button {
            color: var(--color-accent-800);
            font-weight: 600;
          }

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: var(--color-accent-900);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .custom-dropdown {

    &__button {
      padding: var(--dropdown-button-padding-768);
      font-size: 16px;
    }

    &__menu {
      max-height: 200px;

      .custom-dropdown__search {
        padding: 7px 17px 7px 17px;
      }

      .custom-dropdown__list {
        .custom-dropdown__item {
          &-button {
            padding: 7px 17px 7px 17px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .custom-dropdown {
    max-width: 230px;

    &__button {
      padding: var(--dropdown-button-padding-1024);

      &-label {
        font-size: 12px;
      }

      &-value {
        font-size: 15px;
      }
    }

    &__menu {
      max-height: 250px;

      .custom-dropdown__search {
        font-size: 14px;
        padding: 10px 17px 10px 17px;
      }

      .custom-dropdown__list {
        .custom-dropdown__item {
          &-button {
            font-size: 14px;
            padding: 10px 17px 10px 17px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .custom-dropdown {
    max-width: 285px;

    &__button {
      padding: var(--dropdown-button-padding-1440);

      &-inner {
        gap: 2px;
      }

      &-label {
        font-size: 14px;
      }

      &-value {
        font-size: 16px;
      }
    }

    &__menu {
      max-height: 300px;

      .custom-dropdown__search {
        font-size: 16px;
        padding: 10px 20px 10px 20px;
      }

      .custom-dropdown__list {
        .custom-dropdown__item {
          &-button {
            font-size: 16px;
            padding: 10px 20px 10px 20px;
          }
        }
      }
    }
  }
}