header {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  top: 0;
  height: var(--header-height-default);
  transition: transform 0.3s ease-in-out;
  gap: 15px;
  background: rgba(241, 242, 242, 0.5);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  will-change: backdrop-filter;
  justify-content: space-between;
  padding: 9px 12px;
  z-index: 2025;

  .header-section {
    display: flex;
    flex-direction: row;
    gap: 10px;

    &__logo {
      #leftMenuToggler {
        align-items: center;
        justify-content: center;
        display: none;

        svg {
          height: 22px;
          width: 22px;
        }
      }
    }
  }

  #logo {
    display: flex;

    img {
      height: 100%;
    }
  }

  .header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    background: var(--color-gray-75);
    border-radius: 10px;
    height: 100%;
    aspect-ratio: 1/1;
    transition: all 150ms ease-in-out;

    svg {
      fill: var(--color-primary-500);
    }

    &:hover {
      background: var(--color-primary-50);
    }
  }

  .global-search-container {
    display: none;
    flex-grow: 1;

    .global-search {
      border-radius: 32px;
      width: 100%;
      height: 100%;
      font-weight: 600;
      background: transparent;
    }
  }

  .profile-container {
    display: none;
    height: 100%;

    .user-dropdown-wrapper {
      position: relative;
      padding: 2px;

      .user-wrapper {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        cursor: pointer;
        padding-right: 10px;
        background: none;
        border: none;
        height: 100%;
        overflow: hidden;

        .user-image {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          aspect-ratio: 1/1;
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &-label {
          display: flex;
          flex-direction: column;

          &__name,
          &__position {
            text-wrap: nowrap;
            text-align: left;
          }

          &__name {
            font-size: 16px;
            font-weight: 500;

          }

          &__position {
            font-size: 12px;
            color: var(--color-gray-700);
          }
        }
      }

      .user-dropdown-menu {
        position: absolute;
        right: 0;
        width: 200px;
        background: var(--block-background);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
        overflow: scroll;
        border-radius: 12px;
        padding: 4px;
        z-index: 999;

        .profile-wrapper {
          display: flex;
          flex-direction: row;
          gap: 5px;

          &-item {
            display: flex;
            align-items: center;
          }

          a {
            flex-grow: 1;
          }

          #profileWrapperLogoutBtn {
            aspect-ratio: 1/1;
            justify-content: center;
            width: auto;

            &:hover {
              svg {
                fill: var(--color-error);
              }
            }
          }
        }

        a, button {
          display: block;
          width: 100%;
          padding: 12px;
          text-align: left;
          background: none;
          border: none;
          cursor: pointer;
          text-decoration: none;
          border-radius: 7px;
          font-size: 16px;
          transition: all 150ms ease-in-out;

          &:hover {
            background-color: var(--color-gray-50);
          }
        }
      }
    }
  }

  #burger {
    margin-left: auto;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .body {
      height: 20px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8px;

      .line {
        height: 2px;
        background: var(--secondary-color);
        border-radius: 4px;
        width: 100%;
        transition: transform 0.3s, opacity 0.3s;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    height: var(--header-height-768);
    padding: 4px 20px;

    .header-section {
      &__logo {
        #logo {
          padding: 4px 0;
        }
      }
    }

    .global-search-container {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  header {
    height: var(--header-height-1024);
    padding: 4px 10px 4px 3px;

    .header-section {
      &__logo {
        #leftMenuToggler {
          display: flex;
        }

        #logo {
          padding: 2px 0;
        }
      }
    }

    #burger {
      display: none;
    }

    .profile-container {
      display: flex;
      gap: 3px;
    }
  }
}

@media (min-width: 1440px) {
  header {
    height: var(--header-height-1440);
    padding: 5px 10px 5px 3px;

    .profile-container {
      gap: 5px;

      .header-item {
        font-size: 16px;

        svg {
          height: 27px;
          width: 27px;
        }
      }
    }
  }
}