.employees-list-item {
  position: relative;
  height: 80px;
  width: 100%;
}
.employees-list-item .employee-card {
  position: absolute;
  overflow: hidden;
  border-radius: 24px;
  max-height: 80px;
  width: 100%;
  background: rgb(255, 255, 255);
  transition: max-height 100ms ease-in-out, box-shadow 150ms ease-in-out, opacity 150ms ease-in-out, background 150ms ease-in-out, backdrop-filter 150ms ease-in-out;
}
.employees-list-item .employee-card .employee-card__preview {
  display: flex;
  cursor: pointer;
  height: 80px;
  padding: 4px;
  gap: 10px;
}
.employees-list-item .employee-card .employee-card__preview.hidden {
  opacity: 0.5;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__photo {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name,
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position {
  display: flex;
  align-items: flex-start;
  padding: 2px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name:hover,
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position:hover {
  background: var(--color-gray-50);
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name:active,
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position:active {
  background: var(--color-gray-100);
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 600;
  line-height: 1;
  font-size: 15px;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name .employee-card__lastname,
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name .employee-card__firstname {
  display: inline-flex;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name .employee-card__firstname {
  margin-left: 3px;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name .employee-card__middlename {
  display: block;
  width: 100%;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position {
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 0.7;
}
.employees-list-item .employee-card .employee-card__preview .employee-actions {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  gap: 3px;
}
.employees-list-item .employee-card .employee-card__preview .employee-actions .employee-action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 7px;
  opacity: 0.5;
  overflow: visible;
  background: transparent;
  transition: all 150ms;
}
.employees-list-item .employee-card .employee-card__preview .employee-actions .employee-action svg {
  opacity: 0.2;
  transition: all 150ms;
}
.employees-list-item .employee-card .employee-card__preview .employee-actions .employee-action .hidden-input {
  display: none;
}
.employees-list-item .employee-card .employee-card__preview .employee-actions .employee-action:hover {
  background: var(--block-background);
  box-shadow: var(--block-shadow);
}
.employees-list-item .employee-card .employee-card__preview .employee-actions .employee-action:hover svg {
  opacity: 1;
}
.employees-list-item .employee-card .employee-card__preview .employee-actions .employee-actions-item {
  display: flex;
  justify-content: right;
}
.employees-list-item .employee-card .employee-card__preview .employee-actions .employee-actions-photo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.employees-list-item .employee-card .employee-card__preview .employee-card__photo,
.employees-list-item .employee-card .employee-card__preview .employee-card__general {
  align-self: center;
}
.employees-list-item .employee-card.hovered {
  backdrop-filter: blur(24px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8) !important;
  transition: background 150ms ease-in-out, max-height 100ms ease-in-out;
}
.employees-list-item:hover .employee-card {
  background: var(--color-gray-50);
  max-height: 300px;
  opacity: 1;
  transition: max-height 100ms ease-in-out 350ms, background 150ms ease-in-out;
}
.employees-list-item:hover .employee-card .employee-card__preview .employee-card__photo {
  border-radius: 20px;
  transition: all 100ms ease-in-out 350ms;
}
.employees-list-item:hover .employee-card .employee-card__details {
  opacity: 1;
}

@media (min-width: 768px) {
  .employees-list-item {
    position: relative;
    height: 100px;
    width: calc(50% - 5px);
  }
  .employees-list-item .employee-card {
    max-height: 100px;
  }
  .employees-list-item .employee-card .employee-card__preview {
    height: 100px;
  }
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name,
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position {
    padding: 4px;
  }
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name {
    font-size: 17px;
  }
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .employees-list-item {
    position: relative;
    height: 130px;
    width: calc(33.3333333333% - 2px);
  }
  .employees-list-item .employee-card {
    max-height: 130px;
  }
  .employees-list-item .employee-card .employee-card__preview {
    height: 130px;
  }
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name,
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position {
    padding: 5px;
  }
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__name {
    font-size: 19px;
  }
  .employees-list-item .employee-card .employee-card__preview .employee-card__general .employee-card__position {
    font-size: 16px;
  }
}
@media (min-width: 1650px) {
  .employees-list-item {
    width: calc(25% - 2px);
  }
}

/*# sourceMappingURL=EmployeeListItem.css.map */
