.page-admin {
  .page-content {
    .content-tab {
      display: flex;
      flex-direction: column;
      gap: 3px;
      padding: 5px;

      .content-tab__title {
        font-weight: 700;
        font-size: 16px;
        font-style: italic;
      }

      &--contacts {
        .associations-container {
          width: 100%;
          display: grid;
          background: #FFFFFF;
          grid-template-columns: repeat(1, calc(100% / 1 - 7px / 1 * (1 - 1)));
          overflow-y: auto;

          .association {
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 3px;
            height: 55px;
            gap: 7px;
            transition: all 150ms;

            .variants {
              display: flex;
              gap: 5px;
              flex-grow: 1;

              .variant {
                flex: 2;
                display: flex;
                align-items: center;
                padding: 0 3px;

                .variant-title {
                  font-size: 14px;
                }

                &:first-child {
                  flex: 1;
                }
              }
            }

            .arrow-container {
              display: flex;
              justify-content: center;

              .arrow {
                user-select: none;
                width: 20px;
              }
            }

            .result {
              display: flex;
              justify-content: center;
              width: 30%;

              .result-field {
                height: 48px;
                width: 100%;
              }
            }

            .actions-container {
              display: flex;
              height: 100%;
              gap: 5px;

              .action {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 10px;
                background: var(--item-static-background);

                svg {
                  height: 70%;
                  width: 70%;
                }

                &:hover {
                  background: var(--item-hover-background);
                }

                &:active {
                  background: var(--item-active-background);
                }
              }
            }

            &:hover,
            &:focus-within {
              background: rgba(90, 176, 88, 0.15);
            }
          }

          .association-skeleton {
            border-radius: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 7px;

            .variants {
              display: flex;
              flex-grow: 1;
              gap: 10px;

              .skeleton-variant {
                flex: 2;
                min-width: 100px;
                height: 48px;
                border-radius: 32px;
                overflow: hidden;

                span {
                  height: 100%;
                }

                &:first-child {
                  flex: 1;
                }
              }
            }

            .arrow-container {
              display: flex;
              justify-content: center;

              .arrow {
                user-select: none;
                width: 20px;
              }
            }

            .skeleton-result {
              height: 48px;
              width: 220px;
              flex-shrink: 0;
              overflow: hidden;
              border-radius: 32px;

              span {
                height: 100%;
              }
            }

            .skeleton-action {
              border-radius: 10px;
              height: 48px;
              flex-shrink: 0;
              aspect-ratio: 1/1;
              overflow: hidden;

              span {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .page-admin {
    .page-content {
      .content-tab {
        .content-tab__title {
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .page-admin {
    .page-content {
      .content-tab {
        .content-tab__title {
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .page-admin {
    .page-content {
      .content-tab {
        .content-tab__title {
          font-size: 21px;
        }
      }
    }
  }
}