.page-admin .page-content .content-tab {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
}
.page-admin .page-content .content-tab .content-tab__title {
  font-weight: 700;
  font-size: 16px;
  font-style: italic;
}
.page-admin .page-content .content-tab--contacts .associations-container {
  width: 100%;
  display: grid;
  background: #FFFFFF;
  grid-template-columns: repeat(1, calc(100% - 0px));
  overflow-y: auto;
}
.page-admin .page-content .content-tab--contacts .associations-container .association {
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3px;
  height: 55px;
  gap: 7px;
  transition: all 150ms;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .variants {
  display: flex;
  gap: 5px;
  flex-grow: 1;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .variants .variant {
  flex: 2;
  display: flex;
  align-items: center;
  padding: 0 3px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .variants .variant .variant-title {
  font-size: 14px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .variants .variant:first-child {
  flex: 1;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .arrow-container {
  display: flex;
  justify-content: center;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .arrow-container .arrow {
  user-select: none;
  width: 20px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .result {
  display: flex;
  justify-content: center;
  width: 30%;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .result .result-field {
  height: 48px;
  width: 100%;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .actions-container {
  display: flex;
  height: 100%;
  gap: 5px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .actions-container .action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--item-static-background);
}
.page-admin .page-content .content-tab--contacts .associations-container .association .actions-container .action svg {
  height: 70%;
  width: 70%;
}
.page-admin .page-content .content-tab--contacts .associations-container .association .actions-container .action:hover {
  background: var(--item-hover-background);
}
.page-admin .page-content .content-tab--contacts .associations-container .association .actions-container .action:active {
  background: var(--item-active-background);
}
.page-admin .page-content .content-tab--contacts .associations-container .association:hover, .page-admin .page-content .content-tab--contacts .associations-container .association:focus-within {
  background: rgba(90, 176, 88, 0.15);
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton {
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .variants {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .variants .skeleton-variant {
  flex: 2;
  min-width: 100px;
  height: 48px;
  border-radius: 32px;
  overflow: hidden;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .variants .skeleton-variant span {
  height: 100%;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .variants .skeleton-variant:first-child {
  flex: 1;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .arrow-container {
  display: flex;
  justify-content: center;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .arrow-container .arrow {
  user-select: none;
  width: 20px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .skeleton-result {
  height: 48px;
  width: 220px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 32px;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .skeleton-result span {
  height: 100%;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .skeleton-action {
  border-radius: 10px;
  height: 48px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.page-admin .page-content .content-tab--contacts .associations-container .association-skeleton .skeleton-action span {
  height: 100%;
}

@media (min-width: 1024px) {
  .page-admin .page-content .content-tab .content-tab__title {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .page-admin .page-content .content-tab .content-tab__title {
    font-size: 21px;
  }
}

/*# sourceMappingURL=PageAdmin.css.map */
