.test-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 24px;
  text-decoration: none;
  overflow: hidden;

  .test-card__labels {
    display: flex;
    gap: 3px;

    .test-card__type,
    .test-card__status {
      display: flex;
      padding: 4px 6px;
      font-size: 12px;
      border-radius: 24px;
      font-weight: 500;
      user-select: none;
      border: 1px solid var(--color-gray-50);
      color: var(--color-gray-900);
    }

    .test-card__type {

    }

    .test-card__status {

    }
  }

  .test-card__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
  }

  .test-card__dates {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    font-size: 12px;

    span {
      color: var(--color-gray-800);
    }

    svg {
      font-size: 16px;
      fill: var(--color-accent-500);
    }
  }

  .test-card__info {
    display: flex;
    justify-content: space-between;

    .test-card__size {
      font-size: 12px;
      font-weight: 500;
      color: var(--color-gray-700);
    }

    .test-card__expires {
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        font-size: 16px;
        fill: var(--color-gray-700);
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: var(--color-gray-700);
      }
    }
  }

  &:active {
    background: var(--color-gray-50);
  }
}

@media (min-width: 768px) {
  .test-card {
    .test-card__labels {
      .test-card__type,
      .test-card__status {
        padding: 5px 7px;
      }
    }
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {
  .test-card {
    padding: 15px;

    .test-card__labels {
      .test-card__type,
      .test-card__status {
        font-size: 14px;
        padding: 5px 10px;
      }

      .test-card__type {

      }

      .test-card__status {

      }
    }

    .test-card__title {
      font-size: 18px;
    }

    .test-card__dates {
      svg {
        font-size: 18px;
      }

      span {
        font-size: 14px;
      }
    }

    .test-card__info {
      .test-card__size {
        font-size: 14px;
      }

      .test-card__expires {
        span {
          font-size: 14px;
        }

        svg {
          font-size: 18px;
        }
      }
    }
  }
}