.employee-card__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1px;
  opacity: 0;
  gap: 1px;
  transition: opacity 350ms ease-in-out;
}

@media (min-width: 768px) {
  .employee-card__details {
    padding: 2px;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {
  .employee-card__details {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    gap: 3px;
  }
}