.test-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.15s;
}
.test-card .test-card__general {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: var(--block-shadow);
  background: #FFFFFF;
  z-index: 2;
}
.test-card .test-card__general .test-card__labels {
  display: flex;
  gap: 3px;
}
.test-card .test-card__general .test-card__labels .test-card__type,
.test-card .test-card__general .test-card__labels .test-card__status {
  display: flex;
  padding: 4px 6px;
  font-size: 12px;
  border-radius: 7px;
  font-weight: 500;
  user-select: none;
  background: var(--color-gray-50);
  color: var(--color-gray-700);
}
.test-card .test-card__general .test-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}
.test-card .test-card__general .test-card__dates {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  font-size: 12px;
}
.test-card .test-card__general .test-card__dates span {
  color: var(--color-gray-700);
}
.test-card .test-card__general .test-card__dates svg {
  font-size: 16px;
  fill: var(--color-accent-500);
}
.test-card .test-card__info {
  display: flex;
  justify-content: space-between;
  padding: 23px 15px 8px 15px;
  background: var(--color-gray-75);
  border-radius: 0 0 16px 16px;
  margin-top: -15px;
}
.test-card .test-card__info .test-card__size {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-gray-700);
}
.test-card .test-card__info .test-card__expires {
  display: flex;
  align-items: center;
  gap: 4px;
}
.test-card .test-card__info .test-card__expires svg {
  font-size: 16px;
  fill: var(--color-gray-700);
}
.test-card .test-card__info .test-card__expires span {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-gray-700);
}
.test-card:hover {
  transform: translateY(-3px);
  box-shadow: var(--item-shadow);
}

@media (min-width: 768px) {
  .test-card .test-card__general .test-card__labels .test-card__type,
  .test-card .test-card__general .test-card__labels .test-card__status {
    padding: 5px 7px;
  }
}
@media (min-width: 1440px) {
  .test-card .test-card__general {
    padding: 15px;
  }
  .test-card .test-card__general .test-card__labels .test-card__type,
  .test-card .test-card__general .test-card__labels .test-card__status {
    font-size: 14px;
    padding: 5px 10px;
  }
  .test-card .test-card__general .test-card__title {
    font-size: 18px;
  }
  .test-card .test-card__general .test-card__dates svg {
    font-size: 18px;
  }
  .test-card .test-card__general .test-card__dates span {
    font-size: 14px;
  }
  .test-card .test-card__info {
    padding: 25px 15px 10px 15px;
  }
  .test-card .test-card__info .test-card__size {
    font-size: 14px;
  }
  .test-card .test-card__info .test-card__expires span {
    font-size: 14px;
  }
  .test-card .test-card__info .test-card__expires svg {
    font-size: 18px;
  }
}

/*# sourceMappingURL=TestCard.css.map */
